<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="sharex" />
      <package id="zoom" />
      <package id="firefox" />
      <package id="googlechrome" />
      <package id="dropbox" />
      <package id="powertoys" />
      <package id="quicklook" />
      <package id="processhacker" />
      <package id="wincdemu" />
      <package id="filezilla" />
      <package id="copyq" />
      <package id="teracopy" />
      <package id="logitech-options" />
      <package id="thunderbird" />
      <package id="rescuetime" />
      <package id="Office365Business" />
      <package id="sumatrapdf.install" 
                installArguments="/opt pdfpreviewer /register"
               />
    </packages>